* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

body {
    background-color: rgb(31, 35, 38);
    color: white;
}

.form {
    width: 100%;
    padding: 10px;
    background-color: #48484a;
    display: flex;
    justify-content: center;
}

#search-input {
    width: 80%;
    border-radius: 0;
}

#search-input:active>.search-history {
    display: block;
}

#search-button {
    border-radius: 0;
}

.search-container {
    display: flex;
    width: 50%;
    height: auto;
    position: relative;
}

.search-history {
    display: none;
    position: absolute;
    top: 39px;
    left: 0;
    z-index: 5;
    width: 80%;
    min-height: 0px;
    max-height: 300px;
    overflow-y: scroll;
    background-color: #fff;
}

.search-history::-webkit-scrollbar {
    width: 0;
}

.history-item {
    cursor: pointer;
    padding: 5px 14px;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    border: none;
}

.history-item:hover {
    background-color: rgba(217, 217, 217, 0.464);
}

.history-item:hover>.history-delete {
    display: block;
}

.history-delete {
    display: none;
    margin-top: 5px;
    padding: 5px;
    width: 15px;
    height: 15px;
    background-color: black;
    clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
}

.place-holder {
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 26px;
}

.day-weather {
    display: none;
    border-radius: 20px;
    width: 100%;
    padding: 15px 20px;
}

.Rain {
    color: rgb(90, 113, 125);
    background: rgb(198, 208, 218);
}

.Clouds {
    color: rgb(120, 120, 120);
    background-color: rgb(233, 233, 232);
}

.Clear {
    color: rgb(193, 126, 8);
    background: linear-gradient(45deg, rgb(255, 229, 144), rgb(255, 253, 174));
}

.Snow {
    color: rgb(104, 143, 165);
    background-color: rgb(228, 245, 253);
}

.weather-day-box {
    width: 70%;
    position: relative;
}

.weather-box {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: 20px auto;
    position: relative;
}

.day-weather-data {
    display: block;
}

.button-box {
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
}

.button-box>* {
    border-right: 1px solid rgba(0, 0, 0, 0.4);
}

.day-button {
    width: 250px;
    display: flex;
    color: rgb(72, 72, 74);
    background-color: rgb(244, 244, 244);
    height: 80px;
    align-items: center;
    justify-content: space-between;
    border: none;
    border-radius: 8px;
    transition: .2s;
    margin: 4px;
    padding: 10px;
    z-index: 3;
}

.left-description_container {
    display: flex;
    flex-direction: column;
    text-align: right;
}

.day-button>.weather-img {
    width: 80px;
    margin: 0;
}

.day-button:hover {
    background-color: rgb(233, 233, 233);
}

.currentButton {
    background-color: rgb(220 220 220);
}

.common-box {
    width: 65%;
    border-left: 2px solid rgb(0, 0, 0);
    padding-left: 5px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 15px;
}

.common-box>* {
    margin-right: 15px;
}

.forecast-box {
    width: 60%;
    position: relative;
    margin: 20px auto;
    border-radius: 20px;
    background: linear-gradient(45deg, rgb(169, 255, 175), rgb(255, 249, 169));
    padding: 0 30px;
}

.daily-forecast-box {
    max-width: 100%;
    height: 250px;
    overflow-x: scroll;
    position: relative;
}

.daily-forecast-box::-webkit-scrollbar {
    width: 0;
}

.daily-forecast {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    margin: auto;
    display: flex;
    text-align: center;
}

.daily-forecast-element {
    min-width: 140px;
    display: flex;
    flex-direction: column;
    margin: 45px 0;
}

.daily-forecast-element>* {
    margin-bottom: 10px;
}

.forecast-temp {
    font-size: 16px;
}

.forecast-desc {
    font-size: 18px;
}

.weather-img {
    width: 45px;
    height: auto;
    margin: 5px auto 10px;
}

.display {
    display: block;
}

.display-search-history {
    display: flex;
    flex-direction: column-reverse;
}

.hidden {
    display: none;
}

.day-current-data {
    font-size: 14px;
    color: #da5f00;
}

.cityName {
    color: inherit;
    font-size: 34px;
    font-weight: 500;
    display: block;
    margin-bottom: 300px;
}

.avarage-temp {
    font-size: 26px;
    margin-top: 40px;
}

.common-desc {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 15px;
    display: inline-block;
}

.description-params {
    margin-left: 10px;
    color: inhernit;
    line-height: 20px;
}

.description-params-temp {
    font-size: 26px;
    line-height: 0.9;
}

.description-params-desc {
    font-size: 14px;
}

.scrollButton {
    width: 20px;
    height: 20px;
    z-index: 3;
    background: none;
    border: none;
    display: none;
    width: 25px;
    position: absolute;
    cursor: pointer;
}

.scrollButton>* {
    width: inherit;
}

.leftScrollButt {
    left: -3px;
    top: 43%;
}

.rightScrollButt {
    right: 8px;
    top: 43%;
}

.hideScrollButton {
    display: block;
}

.main-weather-img {
    position: absolute;
    top: 0px;
    right: 20px;
    width: 70%;
    display: block;
}

.switch-buttons-container {
    position: absolute;
    left: -50px;
    top: 15px;
}

.add-city-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    font-size: 35px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: 0.2;
}

.add-city-button:hover {
    opacity: 0.5;
}

.hidden {
    display: none;
}

@media screen and (max-width: 600px) {
    .form {
        padding: 0;
    }
    .history-delete {
        display: block;
    }
    .search-container {
        width: 100%;
    }
    .weather-box {
        margin: 0;
        width: 100%;
        display: block;
    }
    .switch-buttons-container {
        display: none;
    }
    .weather-day-box {
        width: 100%;
        margin: 0;
    }
    .day-weather {
        border-radius: 0;
    }
    .cityName {
        margin-bottom: 150px;
    }
    .button-box {
        width: 100%;
        overflow-y: scroll;
        flex-direction: row;
        margin: 20px 0;
        max-width: 100%;
    }
    .day-button {
        margin: 15px 0;
        width: 200px;
    }
    .button-box::-webkit-scrollbar {
        width: 0;
    }
    .forecast-box {
        margin: 0;
        width: 100%;
        border-radius: 0;
    }
    .daily-forecast-box {
        height: 220px;
    }
}